### JetBrains template
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser

### Laravel / Build bypass fixes
/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.history
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
robots.txt
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/storage/debugbar/*
.phpunit.result.cache
modules/*
!modules/.gitkeep
.laravelstatsrc
.DS_Store

# REMOVED /public/js and mix-manifest from ignore list 
# so compiled assets can be pushed to Railway